<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <object th:include="~{fragments/commonfauzan :: css}" th:remove="tag"></object>
    <object th:include="~{fragments/commonfauzan :: js}" th:remove="tag"></object>

    <title>Vendor Assessment</title>

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <style>
        .wider{
            min-width: 150px;
        }

        .pagetitle .icon {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

    </style>

</head>

<body>

<main id="main" class="main">

    <nav th:replace="~{fragments/navbar-vendor :: navbar(activeTab)}"></nav>

    <div class="pagetitle d-flex justify-content-between align-items-center">
        <h1>Vendor Assessment</h1>
    </div>

    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Berkas diunggah vendor untuk kemudian divalidasi atau diverifikasi perusahaan</li>
        </ol>
    </nav>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Edit Berkas</h5>
                        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
                        <form th:action="@{/vendor-assessment/upload}" enctype="multipart/form-data"
                              th:object="${berkasFormDTO}" method="POST" id="vendorAssessmentForm">
                            <table class="table">
                                <thead>
                                <tr style="text-align: center">
                                    <th>No</th>
                                    <th>Nama Berkas</th>
                                    <th>Deskripsi Berkas</th>
                                    <th>Unggah Berkas</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="konfigurasi, iterationStatus : ${listKonfigurasi}">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${konfigurasi.namaBerkas}"></td>
                                    <td th:text="${konfigurasi.deskripsi}"></td>
                                    <td>
                                        <input type="file" th:field="*{listBerkas[__${iterationStatus.index}__].file}"
                                               class="form-control" accept=".pdf" required />
                                        <input type="hidden" class="form-control"
                                               th:field="*{listBerkas[__${iterationStatus.index}__].nama}"/>
                                        <input type="hidden" class="form-control"
                                               th:field="*{listBerkas[__${iterationStatus.index}__].deskripsi}"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <p> Notes: Berkas yang diunggah harus dalam bentuk PDF dengan ukuran maksimal 5MB</p>
                            <div class="text-center m-3">
                                <button type="button" id="showModalBtn" class="btn btn-dark">Unggah</button>
                            </div>
                            <br>
                        </form>
                    </div>
                    <div class="modal" id="confirmationModal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Submit</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Apakah Anda yakin ingin mengunggah?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                        Tidak
                                    </button>
                                    <button type="button" class="btn btn-primary" id="confirmSubmitBtn">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>
<script>
    document
      .getElementById("showModalBtn")
      .addEventListener("click", function () {
        var modal = new bootstrap.Modal(
          document.getElementById("confirmationModal")
        );
        modal.show();
      });

    document
      .getElementById("confirmSubmitBtn")
      .addEventListener("click", function () {
        document.getElementById("vendorAssessmentForm").submit();
      });
</script>

</html>
