<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <object th:include="~{fragments/commonfauzan :: css}" th:remove="tag"></object>
    <title>Form Konfigurasi Berkas</title>

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <style>
        .wider {
            min-width: 150px;
        }

        .pagetitle .icon {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    </style>
</head>

<body>

<main id="main" class="main">

    <nav th:if="${user.role == 'Admin'}" th:replace="~{fragments/navbar-admin :: navbar(activeTab)}"></nav>
    <nav th:if="${user.role == 'Procurement Manager'}" th:replace="~{fragments/navbar-procm :: navbar(activeTab)}"></nav>
    <nav th:if="${user.role == 'Procurement Staff'}" th:replace="~{fragments/navbar-procs :: navbar(activeTab)}"></nav>

    <div class="pagetitle d-flex justify-content-between align-items-center">
        <h1>Konfigurasi Berkas</h1>
    </div>

    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Daftar berkas untuk Vendor Assessment</li>
        </ol>
    </nav>  
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Edit Konfigurasi Berkas</h5>
                      <div class="alert alert-danger" th:if="${errorMessages}">
                        <ul>
                            <li th:each="errorMessage : ${errorMessages}" th:text="${errorMessage}"></li>
                        </ul>
                      </div>
                        <form th:action="@{/konfigurasi-berkas/edit}" th:object="${kbrequest}" method="POST" id="konfigurasiBerkasForm">
                          <div style="display: flex; justify-content: flex-end;">
                            <button class="btn btn-primary" type="submit" name="addRow">Tambah Row</button>
                          </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nomor</th>
                                        <th>Nama Berkas</th>
                                        <th>Deskripsi Berkas</th>
                                        <th>Hapus</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="i, iterationStatus : *{listKB}">
                                        <td th:text="${iterationStatus.index + 1}"></td>
                                        <td>
                                            <input class="form-control" type="text" th:field="*{listKB[__${iterationStatus.index}__].namaBerkas}" placeholder="Masukan nama berkas" />
                                        </td>
                                        <td>
                                          <input class="form-control" type="text" th:field="*{listKB[__${iterationStatus.index}__].deskripsi}" placeholder="Masukan deskripsi berkas maksimal 200 karakter." />
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" type="submit" name="deleteRow" th:value="${iterationStatus.index}">
                                                Hapus
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group submit-btn text-center">
                                <button type="button" id="showModalBtn" class="btn btn-dark">
                                  Submit
                                </button>
                              </div>
                        </form>
                    </div>
                    <div class="modal" id="confirmationModal" tabindex="-1">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Submit</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <p>Apakah Anda yakin ingin submit?</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                Tidak
                              </button>
                              <button type="button" class="btn btn-primary" id="confirmSubmitBtn">
                                Submit
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>

            </div>
        </div>
    </section>

</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<object th:insert="~{fragments/commonfauzan :: js}" th:remove="tag"></object>

</body>
<script>
    document
      .getElementById("showModalBtn")
      .addEventListener("click", function () {
        var modal = new bootstrap.Modal(
          document.getElementById("confirmationModal")
        );
        modal.show();
      });
  
    document
      .getElementById("confirmSubmitBtn")
      .addEventListener("click", function () {
        document.getElementById("konfigurasiBerkasForm").submit();
      });
  </script>

</html>
